<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hingecloud.apppubs.pub.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hingecloud.apppubs.pub.model.TTask">
        <id column="id" property="id" />
        <result column="appId" property="appId" />
        <result column="packageName" property="packageName" />
        <result column="appName" property="appName" />
        <result column="baseURL" property="baseURL" />
        <result column="type" property="type" />
        <result column="versionName" property="versionName" />
        <result column="wxAppId" property="wxAppId" />
        <result column="jpushAppId" property="jpushAppId" />
        <result column="assets" property="assets" />
        <result column="enableSplashSkip" property="enableSplashSkip" />
        <result column="enableStartUpVersion" property="enableStartUpVersion" />
        <result column="reserve1" property="reserve1" />
        <result column="reserve2" property="reserve2" />
        <result column="reserve3" property="reserve3" />
        <result column="reserve4" property="reserve4" />
        <result column="reserve5" property="reserve5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appId, packageName, appName, baseURL, type, versionName, wxAppId, jpushAppId, assets, enableSplashSkip, enableStartUpVersion, reserve1, reserve2, reserve3, reserve4, reserve5
    </sql>

</mapper>
