<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hingecloud.apppubs.pub.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hingecloud.apppubs.pub.model.TTask">
        <id column="id" property="id" />
        <result column="appId" property="appId" />
        <result column="packageName" property="packageName" />
        <result column="appName" property="appName" />
        <result column="baseURL" property="baseUrl" />
        <result column="type" property="type" />
        <result column="versionName" property="versionName" />
        <result column="wxAppId" property="wxAppId" />
        <result column="jpushAppId" property="jpushAppId" />
        <result column="assets" property="assets" />
        <result column="enableSplashSkip" property="enableSplashSkip" />
        <result column="enableStartUpVersion" property="enableStartUpVersion" />
        <result column="reserve1" property="reserve1" />
        <result column="reserve2" property="reserve2" />
        <result column="reserve3" property="reserve3" />
        <result column="reserve4" property="reserve4" />
        <result column="reserve5" property="reserve5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appId, packageName, appName, baseURL, type, versionName, wxAppId, jpushAppId, assets, enableSplashSkip, enableStartUpVersion, reserve1, reserve2, reserve3, reserve4, reserve5
    </sql>

    <select id="selectLatestVersionCode" resultType="java.lang.Integer">
        SELECT
            version_code versionCode
        FROM
            task
        WHERE
            app_id = #{appId}
        AND type = #{type}
        ORDER BY
            create_time DESC
        LIMIT 1
    </select>

    <!--@TableId(value = "id", type = IdType.AUTO)-->
    <!--private Integer id;-->
    <!--@TableField("app_id")-->
    <!--private String appId;-->
    <!--@TableField("package_name")-->
    <!--private String packageName;-->
    <!--@TableField("app_name")-->
    <!--private String appName;-->
    <!--@TableField("base_url")-->
    <!--private String baseURL;-->
    <!--private String type;-->
    <!--@TableField("version_name")-->
    <!--private String versionName;-->
    <!--@TableField("version_code")-->
    <!--private Integer versionCode;-->
    <!--@TableField("wx_app_id")-->
    <!--private String wxAppId;-->
    <!--@TableField("jpush_app_id")-->
    <!--private String jpushAppId;-->
    <!--private String assets;-->
    <!--@TableField("enable_splash_skip")-->
    <!--private Integer enableSplashSkip;-->
    <!--@TableField("enable_start_up_version")-->
    <!--private Integer enableStartUpVersion;-->
    <!--private Integer status = STATUS_WAITING;-->

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="TTask">
        insert into task
            (app_id,package_name,app_name,base_url,type,version_name,version_code,wx_app_id,jpush_app_id,assets,enable_splash_skip,enable_start_up_version,status,store_password,key_alias,key_password,reserve1)
        values
            (#{appId},#{packageName},#{appName},#{baseUrl},#{type},#{versionName},#{versionCode},#{wxAppId},#{jpushAppId},#{assets},#{enableSplashSkip},#{enableStartUpVersion},#{status},#{storePassword},#{keyAlias},#{keyPassword},#{reserve1})
    </insert>
</mapper>
